<div class="card card-body">
    <h5 class="card-title mg-b-20"></h5>

    <form name="desciplineEditForm" method="post" class="form-horizontal" action="">
        <input type="hidden" id="current-desciplineId" />
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="az-content-label tx-11 tx-medium tx-gray-600" for="editdesciplinename">Name</label>
                        <input type="text" class="form-control" name="editdesciplinename" id="editdesciplinename">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="az-content-label tx-11 tx-medium tx-gray-600" for="editdesciplineDescription">Description</label>
                        <input type="text" class="form-control" name="editdesciplineDescription" id="editdesciplineDescription">
                    </div>
                </div>
                <div class="col-md-6">
                    <br />
                    <button class="btn btn-az-primary btn-block" type="submit">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>
