<div class="card card-body">
    <h5 class="card-title mg-b-20"></h5>

    <form name="locationEditForm" method="post" class="form-horizontal" action="">
        <input type="hidden" id="current-locationId" />
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="az-content-label tx-11 tx-medium tx-gray-600" for="editlocationname">Name</label>
                        <input type="text" class="form-control" name="editlocationname" id="editlocationname">
                    </div>
                </div>
                <div class="col-md-6">
                    <br />
                    <button class="btn btn-az-primary btn-block" type="submit">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>
