@model IEnumerable<PSSR.ServiceLayer.PunchTypeServices.PunchTypeListDto>
@{
    Layout = "_SecureLayout";
    ViewData["Title"] = "System PreRequest";

    var lstWorks = ViewBag.WorkPackages as List<PSSR.ServiceLayer.RoadMapServices.WorkPackageListDto>;
}
<style>
    .dataTables_filter input { width: 100px }
</style>
<section class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Puncht Type</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form role="form" asp-action="CreatePunchType" asp-controller="PunchType">
                        <input name="WorkPackageDic" id="WorkPackageDic" type="hidden" />
                        <!-- text input -->
                        <div class="form-group">
                            <label class="control-label required">Name</label>
                            <input name="Name" type="text" class="form-control" placeholder="Enter ..." required>
                        </div>

                        <table id="workPackageType" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width:50px">WorkPackage</th>
                                    <th>%</th>
                                </tr>
                            </thead>
                            <tbody id="model-workpackages">
                                @foreach(var item in lstWorks)
                                {
                                    <tr>
                                        <td><p class="required">@item.Title</p></td>
                                        <td><input class="work-input" id="work-@item.Id" type="number" min="0" max="100" required/></td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <!-- textarea -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-warning pull-right">Create</button>
                        </div>
                    </form>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-8">
            <div class="box box-success">
               

                <div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Punch Type List</h3>
                                    <div class="box-tools">
                                        <div class="input-group input-group-sm" style="width: 150px;">
                                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                                            <div class="input-group-btn">
                                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body table-responsive no-padding">
                                    <table class="table table-hover">
                                        <tr>
                                            <th>Name</th>
                                            <th>Precentage WorkPackage</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        @foreach (var item in Model)
                                        {
                                            <tr id="tr-@item.Id">
                                                <td id="td1-@item.Id">@item.Name</td>
                                                <td>@item.WorkPackagePr</td>
                                                <td><button type="button" class="btn btn-info edtit-btn" id="dec-@item.Id" data-toggle="modal" data-target="#modal-default"><i class="fa fa-edit"></i></button></td>
                                                <td>
                                                    <form role="form" asp-action="DeletePunchType" asp-controller="PunchType" method="post">
                                                        <input type="hidden" value="@item.Id" name="pId" />
                                                        <input type="submit" class="btn btn-danger " value="Delete" />
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Edit Punch Type</h4>
            </div>
            <div class="modal-body">
                <div>
                    <input type="hidden" id="selected-punchType-id" />
                    <div class="form-group">
                        <label>Name</label>
                        <input id="name1" name="Name" type="text" class="form-control" placeholder="Enter ..." required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-edit">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type='text/javascript'>
    $(document).ready(function () {
        $('#workPackageType').DataTable();
        var _chGroups = [];

        $('tr').dblclick(function () {
            var id = $(this).attr('id').split('-')[1];
            $('#modal-default').modal('show');
            showEditModel(id);
        })

        $('.edtit-btn').on('click', function () {
            var id = $(this).attr('id').split('-')[1];
            showEditModel(id);
        })

        $('#save-edit').on('click', function () {
            var id = $('#selected-punchType-id').val();
            var name = $('#Name1').val();
            var desc = $('#Description1').val();
            var model = { 'id': id, 'name': name, 'description': desc };
            $.ajax({
                type: "Post",
                url: "/poec/PunchType/UpdatePunchType",
                data: JSON.stringify(model),
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data, status, jqXHR) {
                    $("#td1-" + id).html(name);
                    $("#td2-" + id).html(desc);
                    $('#modal-default').modal('toggle');
                },
                error: function (jqXHR, status) {
                    console.log(jqXHR);
                }
            });
        });

        function showEditModel(id) {
            $.ajax({
                type: "Get",
                url: "/poec/PunchType/GetPunchType?id=" + id + "",

                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data, status, jqXHR) {
                    $('#Name1').val(data.title);
                    $('#Description1').val(data.description);
                    $('#selected-desipline-id').val(data.desciplineId);
                },
                error: function (jqXHR, status) {
                    console.log(jqXHR);
                }
            });
        }

        $(".work-input").focusout(function(){
             var val = $(this).val();
             var id = $(this).attr('id').split('-')[1];
             initWorkPackages(id, val);
        });

        $('.work-input').on('keypress', function (e) {
            if (e.which == 13) {
                e.preventDefault();
                var val = $(this).val();
                var id = $(this).attr('id').split('-')[1];
                  initWorkPackages(id, val);
            }
        });

        function initWorkPackages(id, val) {
            //if (val < 0 || val > 100) {
            //        $('#global-error-message').html("value is invalied!!!");
            //        $('#modal-danger').modal('show');
            //        return;
            //    }
            if (JSON.stringify(_chGroups).indexOf('"key":"' + id + '"') >-1)
                {
                     removeByKey(_chGroups, {
                        key: id,
                        value:val
                    });
                }

                _chGroups.push({
                    key: id,
                    value: val
                });

                $('#WorkPackageDic').val(JSON.stringify(_chGroups)); 
        }

        function removeByKey(array, params) {
            array.some(function (item, index) {
                if (array[index].key === params.key) {
                    // found it!
                    array.splice(index, 1);
                    return true; // stops the loop
                }
                return false;
            });
            return array;
        }
    });
</script>

