<div class="card card-body">
    <h5 class="card-title mg-b-20">Add WorkPackage</h5>

    <form name="workPackageForm" method="post" class="form-horizontal" action="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="az-content-label tx-11 tx-medium tx-gray-600" for="name">Name</label>
                        <input type="text" class="form-control" name="name" id="name">
                    </div>
                </div>
                <div class="col-md-6">
                    <br />
                    <button class="btn btn-az-primary btn-block" type="submit" id="btn-workPackage-save">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>
