<link rel="stylesheet" href="~/dist/css/wbsStyle.css" />
<style>
    .info-box-content {
        margin-left: 0px;
    }

    .info-box {
        min-height: 60px;
        margin-bottom: 0px;
    }

    .treeWbs li a {
        padding: 0px 0px;
    }
</style>
<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title"></h3>
        <div class="box-tools">
            <div class="form-group">
                <label>
                    <input type="checkbox" class="flat-red wbsTypesch" checked id="ph-1002">
                    Work Package
                </label>
                <label>
                    <input type="checkbox" class="flat-red wbsTypesch" checked id="ph-1003">
                    Location
                </label>
                <label>
                    <input type="checkbox" class="flat-red wbsTypesch" id="ph-1005">
                    System
                </label>
                <label>
                    <input type="checkbox" class="flat-red wbsTypesch" id="ph-1006">
                    SubSystem
                </label>
                <label>
                    <input type="checkbox" class="flat-red wbsTypesch" id="ph-1004">
                    Descipline
                </label>
                <a asp-controller="Report" asp-action="WbsExport">
                  <p style="margin:2px" class="btn btn-success"><i class="fa fa-file-excel-o"></i></p>
                </a>
            </div>
        </div>
    </div>
    <div class="box-body treeWbs style-10" id="hightable-containter">
        <div class="loading-one-wrap" id="progress-wbs-loading" style="display:none;">
            <div class="loading-one">
                <div class="bounceball"></div>
                <div class="loadertext">NOW LOADING...</div>
            </div>
        </div>
        <ul>
            <li id="first-li-wbs">

            </li>
        </ul>
    </div>
</div>

