@inject PSSR.UI.Helpers.CashHelper.INavigationCacheOperations navigationCache
@inject PSSR.UI.Helpers.CashHelper.IAdminNavigationHelper adminNavigationCache

@{
    var currentUser = Context?.User?.GetCurrentUserDetails();
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>APSE</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <environment names="Development">
        <link href="~/dist/lib/fontawesome-free/css/all.min.css" rel="stylesheet">
        <link href="~/dist/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
        <link href="~/dist/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet">

        <link rel="stylesheet" href="~/dist/lib/datatables.net-bs/css/colReorder.dataTables.min.css" />
        <link rel="stylesheet" href="~/dist/lib/datatables.net-bs/css/dataTables.bootstrap.min.css" />
        <link rel="stylesheet" href="~/dist/lib/datatables.net-bs/css/buttons.dataTables.min.css" />

        <link href="~/dist/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
        <link href="~/dist/lib/typicons.font/typicons.css" rel="stylesheet">
        <link href="~/dist/lib/jqvmap/jqvmap.min.css" rel="stylesheet">
        <link href="~/dist/lib/lightslider/css/lightslider.min.css" rel="stylesheet">
        <link href="~/dist/lib/select2/css/select2.min.css" rel="stylesheet">

        <!-- azia CSS -->
        <link rel="stylesheet" href="~/dist/css/azia.css" />
        <link rel="stylesheet" href="~/dist/css/site.css" />
    </environment>
    @*<environment names="Staging,Production">
            <link rel="stylesheet" href="~/dist/lib/iCheck/all.css">
            <link href="~/css/site.min.css" type="text/css" rel="stylesheet"
                  media="screen,projection" />
            <link rel="stylesheet"
                  href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
            <link rel="stylesheet" href="~/dist/css/customIcon.css" />
        </environment>*@


<environment names="Development">
    <script src="~/dist/lib/jquery/jquery.min.js"></script>
    <script src="~/dist/lib/jquery-validation-1.19.1/dist/jquery.validate.min.js"></script>

    <script src="~/dist/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/dist/lib/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
    <script src="~/dist/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/dist/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js"></script>

    <script src="~/dist/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/dist/lib/datatables.net/js/dataTables.buttons.min.js"></script>
    <script src="~/dist/lib/datatables.net/js/dataTables.colReorder.min.js"></script>

    <script src="~/dist/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/dist/js/buttons.colVis.min.js"></script>
    <script src="~/dist/lib/datatables.net/js/buttons.flash.js"></script>
    <script src="~/dist/js/jszip.min.js"></script>
    <script src="~/dist/js/buttons.html5.min.js"></script>
    <script src="~/dist/js/buttons.print.js"></script>

    <script src="~/dist/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/lib/ionicons/ionicons.js"></script>
    <script src="~/dist/lib/jquery.maskedinput/jquery.maskedinput.js"></script>
    <script src="~/dist/lib/spectrum-colorpicker/spectrum.js"></script>
    <script src="~/dist/lib/jquery.flot/jquery.flot.js"></script>
    <script src="~/dist/lib/jquery.flot/jquery.flot.resize.js"></script>
    <script src="~/dist/lib/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/dist/lib/jqvmap/maps/jquery.vmap.world.js"></script>
    <script src="~/dist/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/dist/lib/lightslider/js/lightslider.min.js"></script>
    <script src="~/dist/lib/select2/js/select2.min.js"></script>
    <script src="~/dist/lib/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
    <script src="~/dist/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>

    <script src="~/dist/js/azia.js"></script>
    <script src="~/dist/js/dashboard.sampledata.js"></script>
    <!-- ChartJS -->
</environment>
    <environment names="Staging,Production">

    </environment>

</head>
<body class="az-body az-body-sidebar">

    <div class="az-content az-content-dashboard-two">
        <div class="az-header">
            <div class="container-fluid">
                <div class="az-header-left">
                    <a asp-action="Index" asp-controller="Home" id="azSidebarToggle" class="az-header-menu-icon"><span></span></a>
                </div><!-- az-header-left -->
                <div class="az-header-center">
                    @*<input type="search" class="form-control" placeholder="Search for anything...">
                        <button class="btn"><i class="fas fa-search"></i></button>*@
                </div><!-- az-header-center -->
                <div class="az-header-right">
                    <div class="az-header-message">
                        <a href=""><i class="typcn typcn-messages"></i></a>
                    </div><!-- az-header-message -->
                    <div class="dropdown az-header-notification">
                        <a href="" class="new"><i class="typcn typcn-bell"></i></a>
                        <div class="dropdown-menu">
                            <div class="az-dropdown-header mg-b-20 d-sm-none">
                                <a href="" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
                            </div>
                            <h6 class="az-notification-title">Notifications</h6>
                            @*<p class="az-notification-text">You have 2 unread notification</p>
                                <div class="az-notification-list">
                                    <div class="media new">
                                        <div class="az-img-user"><img src="https://via.placeholder.com/500x500" alt=""></div>
                                        <div class="media-body">
                                            <p>Congratulate <strong>Socrates Itumay</strong> for work anniversaries</p>
                                            <span>Mar 15 12:32pm</span>
                                        </div><!-- media-body -->
                                    </div><!-- media -->
                                    <div class="media new">
                                        <div class="az-img-user online"><img src="https://via.placeholder.com/500x500" alt=""></div>
                                        <div class="media-body">
                                            <p><strong>Joyce Chua</strong> just created a new blog post</p>
                                            <span>Mar 13 04:16am</span>
                                        </div><!-- media-body -->
                                    </div><!-- media -->
                                    <div class="media">
                                        <div class="az-img-user"><img src="https://via.placeholder.com/500x500" alt=""></div>
                                        <div class="media-body">
                                            <p><strong>Althea Cabardo</strong> just created a new blog post</p>
                                            <span>Mar 13 02:56am</span>
                                        </div><!-- media-body -->
                                    </div><!-- media -->
                                    <div class="media">
                                        <div class="az-img-user"><img src="https://via.placeholder.com/500x500" alt=""></div>
                                        <div class="media-body">
                                            <p><strong>Adrian Monino</strong> added new comment on your photo</p>
                                            <span>Mar 12 10:40pm</span>
                                        </div><!-- media-body -->
                                    </div><!-- media -->
                                </div><!-- az-notification-list -->*@
                            <div class="dropdown-footer"><a href="">View All Notifications</a></div>
                        </div><!-- dropdown-menu -->
                    </div><!-- az-header-notification -->
                    <div class="dropdown az-profile-menu">
                        <a href="" class="new"><i class="typcn typcn-cog" style="font-size:28px"></i></a>
                        <div class="dropdown-menu">
                            @await Component.InvokeAsync("RightNavigation", await adminNavigationCache.GetNavigationCacheAsync())
                        </div><!-- dropdown-menu -->
                    </div>
                </div><!-- az-header-right -->
            </div><!-- container -->
        </div><!-- az-header -->
        @*<div class="az-content-header d-block d-md-flex">

            </div>*@
        <div class="az-content">
            <div class="container" style="max-width:100%">
                <div class="az-content-body">
                    @RenderBody()
                </div><!-- az-content-body -->
            </div>
        </div>

        <div class="az-footer">
            <div class="container-fluid">
                <span>&copy; 2019</span>
                <span>Powered by APSE</span>
            </div><!-- container -->
        </div><!-- az-footer -->
    </div><!-- az-content -->

    <script>
        $(function () {
            'use strict'

            $('.az-sidebar .with-sub').on('click', function (e) {
                e.preventDefault();
                $(this).parent().toggleClass('show');
                $(this).parent().siblings().removeClass('show');
            })

                ('.az-toggle').on('click', function () {
                    $(this).toggleClass('on');
                })

            $('.az-nav-tabs .tab-link').on('click', function (e) {
                e.preventDefault();
                $(this).addClass('active');
                $(this).parent().siblings().find('.tab-link').removeClass('active');

                var target = $(this).attr('href');
                $(target).addClass('active');
                $(target).siblings().removeClass('active');
            })

            $(document).on('click touchstart', function (e) {
                e.stopPropagation();

                // closing of sidebar menu when clicking outside of it
                if (!$(e.target).closest('.az-header-menu-icon').length) {
                    var sidebarTarg = $(e.target).closest('.az-sidebar').length;
                    if (!sidebarTarg) {
                        $('body').removeClass('az-sidebar-show');
                    }
                }
            });


            $('#azSidebarToggle').on('click', function (e) {
                e.preventDefault();

                if (window.matchMedia('(min-width: 992px)').matches) {
                    $('body').toggleClass('az-sidebar-hide');
                } else {
                    $('body').toggleClass('az-sidebar-show');
                }
            });

            new PerfectScrollbar('.az-sidebar-body', {
                suppressScrollX: true
            });

            /* ----------------------------------- */
            /* Dashboard content */


            $.plot('#flotChart1', [{
                data: dashData1,
                color: '#6f42c1'
            }], {
                    series: {
                        shadowSize: 0,
                        lines: {
                            show: true,
                            lineWidth: 2,
                            fill: true,
                            fillColor: { colors: [{ opacity: 0 }, { opacity: 1 }] }
                        }
                    },
                    grid: {
                        borderWidth: 0,
                        labelMargin: 0
                    },
                    yaxis: {
                        show: false,
                        min: 0,
                        max: 100
                    },
                    xaxis: { show: false }
                });

            $.plot('#flotChart2', [{
                data: dashData2,
                color: '#007bff'
            }], {
                    series: {
                        shadowSize: 0,
                        lines: {
                            show: true,
                            lineWidth: 2,
                            fill: true,
                            fillColor: { colors: [{ opacity: 0 }, { opacity: 1 }] }
                        }
                    },
                    grid: {
                        borderWidth: 0,
                        labelMargin: 0
                    },
                    yaxis: {
                        show: false,
                        min: 0,
                        max: 100
                    },
                    xaxis: { show: false }
                });

            $.plot('#flotChart3', [{
                data: dashData3,
                color: '#f10075'
            }], {
                    series: {
                        shadowSize: 0,
                        lines: {
                            show: true,
                            lineWidth: 2,
                            fill: true,
                            fillColor: { colors: [{ opacity: 0 }, { opacity: 1 }] }
                        }
                    },
                    grid: {
                        borderWidth: 0,
                        labelMargin: 0
                    },
                    yaxis: {
                        show: false,
                        min: 0,
                        max: 100
                    },
                    xaxis: { show: false }
                });

            $.plot('#flotChart4', [{
                data: dashData4,
                color: '#00cccc'
            }], {
                    series: {
                        shadowSize: 0,
                        lines: {
                            show: true,
                            lineWidth: 2,
                            fill: true,
                            fillColor: { colors: [{ opacity: 0 }, { opacity: 1 }] }
                        }
                    },
                    grid: {
                        borderWidth: 0,
                        labelMargin: 0
                    },
                    yaxis: {
                        show: false,
                        min: 0,
                        max: 100
                    },
                    xaxis: { show: false }
                });

            $.plot('#flotChart5', [{
                data: dashData2,
                color: '#00cccc'
            }, {
                data: dashData3,
                color: '#007bff'
            }, {
                data: dashData4,
                color: '#f10075'
            }], {
                    series: {
                        shadowSize: 0,
                        lines: {
                            show: true,
                            lineWidth: 2,
                            fill: false,
                            fillColor: { colors: [{ opacity: 0 }, { opacity: 1 }] }
                        }
                    },
                    grid: {
                        borderWidth: 0,
                        labelMargin: 20
                    },
                    yaxis: {
                        show: false,
                        min: 0,
                        max: 100
                    },
                    xaxis: {
                        show: true,
                        color: 'rgba(0,0,0,.16)',
                        ticks: [
                            [0, ''],
                            [10, '<span>Nov</span><span>05</span>'],
                            [20, '<span>Nov</span><span>10</span>'],
                            [30, '<span>Nov</span><span>15</span>'],
                            [40, '<span>Nov</span><span>18</span>'],
                            [50, '<span>Nov</span><span>22</span>'],
                            [60, '<span>Nov</span><span>26</span>'],
                            [70, '<span>Nov</span><span>30</span>'],
                        ]
                    }
                });

            $.plot('#flotChart6', [{
                data: dashData2,
                color: '#6f42c1'
            }, {
                data: dashData3,
                color: '#007bff'
            }, {
                data: dashData4,
                color: '#00cccc'
            }], {
                    series: {
                        shadowSize: 0,
                        stack: true,
                        bars: {
                            show: true,
                            lineWidth: 0,
                            fill: 0.85
                            //fillColor: { colors: [ { opacity: 0 }, { opacity: 1 } ] }
                        }
                    },
                    grid: {
                        borderWidth: 0,
                        labelMargin: 20
                    },
                    yaxis: {
                        show: false,
                        min: 0,
                        max: 100
                    },
                    xaxis: {
                        show: true,
                        color: 'rgba(0,0,0,.16)',
                        ticks: [
                            [0, ''],
                            [10, '<span>Nov</span><span>05</span>'],
                            [20, '<span>Nov</span><span>10</span>'],
                            [30, '<span>Nov</span><span>15</span>'],
                            [40, '<span>Nov</span><span>18</span>'],
                            [50, '<span>Nov</span><span>22</span>'],
                            [60, '<span>Nov</span><span>26</span>'],
                            [70, '<span>Nov</span><span>30</span>'],
                        ]
                    }
                });

            $('#vmap').vectorMap({
                map: 'world_en',
                showTooltip: true,
                backgroundColor: '#f8f9fa',
                color: '#ced4da',
                colors: {
                    us: '#6610f2',
                    gb: '#8b4bf3',
                    ru: '#aa7df3',
                    cn: '#c8aef4',
                    au: '#dfd3f2'
                },
                hoverColor: '#222',
                enableZoom: false,
                borderOpacity: .3,
                borderWidth: 3,
                borderColor: '#fff',
                hoverOpacity: .85
            });
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>

</html>
