<div>
    <div class="col-md-12" style="margin-top:5px;margin-bottom:5px;border-bottom:1px solid #d3d1d1">
        <div class="col-md-4">
            <label class="control-label required">Task(Search By Tag Number)</label>
            <select name="ActivityId" id="activitySelect"
                    class="form-control select2" required></select>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label required">Punch Type</label>
                <select id="punch-type-dropdown" name="PunchTypeId"
                        class="form-control sort-filter-width required"></select>
            </div>

        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label required">Punch Category</label>
                <select id="punch-category-dropdown" name="CategoryId"
                        class="form-control sort-filter-width required"></select>
            </div>

        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-4">

            <div class="form-group">
                <label class="control-label required">Code</label>
                <input name="Code" id="pCode" type="text" class="form-control" placeholder="Enter ..." required>
            </div>

            <div class="form-group">
                <label class="control-label required">Orginated By</label>
                <input name="OrginatedBy" id="pOrginated" type="text" class="form-control" placeholder="Enter ..." required>
            </div>

            <div class="form-group">
                <label class="control-label required">Orginated Date:</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input name="OrginatedDate" id="pOrginatedDate" type="text" class="form-control pull-right datepicker" required>
                </div>
                <!-- /.input group -->
            </div>
            <div class="form-group">
                <label>Actual Mh</label>
                <input name="ActualMh" id="pActualMh" type="number" class="form-control" placeholder="Enter ...">
            </div>
        </div>
        <div class="col-md-4">

            <!-- textarea -->
            <div class="form-group">
                <label>Estimate Mh</label>
                <input name="EstimateMh" id="pEstimateMh" type="text" class="form-control" placeholder="Enter ...">
            </div>

            <div class="form-group">
                <label>Clear Plan</label>
                <input name="ClearPlan" id="pClearPlan" type="text" class="form-control" placeholder="Enter ...">
            </div>

            <div class="form-group">
                <label>Vendor Name</label>
                <input name="VendorName" id="pVendorName" type="text" class="form-control" placeholder="Enter ...">
            </div>
            <!-- textarea -->
            <div class="form-group">
                <label>Corective Action</label>
                <input id="pCorectiveAction" type="text" class="form-control" placeholder="Enter ...">
            </div>
        </div>
        <div class="col-md-4">
           
            <div class="form-group">
                <label>
                    @Html.CheckBox("VendorRequired", false, new { @class = "flat-red chtype", @id = "pVendor" })
                    Vendor Required
                </label>
            </div>

            <div class="form-group">
                <label>
                    @Html.CheckBox("MaterialRequired", false, new { @class = "flat-red chtype", @id = "pMaterial" })
                    Material Required
                </label>
            </div>
            <!-- textarea -->
            <div class="form-group">
                <label>
                    @Html.CheckBox("EnginerigRequired", false, new { @class = "flat-red chtype", @id = "pEnginerig" })
                    Enginer Required
                </label>
            </div>
            <!-- textarea -->
            <div class="form-group">
                <label>Defect Description</label>
                <textarea name="DefectDescription" id="pDefect" class="form-control" rows="5" placeholder="Enter ..."></textarea>
            </div>
        </div>
    </div>
</div>
