<div id="clear-section">
    <div class="form-group">
        <label class="control-label required">Clear By</label>
        <input id="pClearBy" type="text" class="form-control" placeholder="Enter ..." required>
    </div>

    <div class="form-group">
        <label class="control-label required">Clear Date:</label>
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            <input id="pClearDate" type="text" class="form-control pull-right datepicker" required>
        </div>
        <!-- /.input group -->
    </div>
</div>

<div id="aprrov-section">
    <div class="form-group">
        <label class="control-label required">Approve By</label>
        <input id="paprovBy" type="text" class="form-control" placeholder="Enter ..." required>
    </div>

    <div class="form-group">
        <label class="control-label required">Check By</label>
        <input id="pCheckBy" type="text" class="form-control" placeholder="Enter ..." required>
    </div>

    <div class="form-group">
        <label class="control-label required">Check Date:</label>
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            <input id="pCheckDate" type="text" class="form-control pull-right datepicker" required>
        </div>
        <!-- /.input group -->
    </div>

</div>