<div class="box-header with-border">
    <h3 class="box-title">Punch Documents</h3>
</div>

<div class="box-body">
    <table id="punchDocTable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="width:40px"></th>
                <th style="width:130px">Create Date</th>
                <th>Description</th>
                <th style="width:40px"></th>
            </tr>
        </thead>
        <tbody id="document-punch"></tbody>
    </table>
</div>