
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "System PreRequest";
}

<div class="card bd-1">
    <div class="card-header bg-gray-400 bd-b-0-f pd-b-0">
        <nav class="nav nav-tabs">
            <a class="nav-link active" data-toggle="tab" href="#WorkPackage">WorkPackage</a>
            <a class="nav-link" data-toggle="tab" href="#Location">Location</a>
            <a class="nav-link" data-toggle="tab" href="#Descipline">Descipline</a>
            <a class="nav-link" data-toggle="tab" href="#WorkPackageStep">WorkPackage Step</a>
            <a class="nav-link" data-toggle="tab" href="#FormDocument">Form Document</a>
            <a class="nav-link" data-toggle="tab" href="#ValueUnit">Value Unit</a>
        </nav>
    </div><!-- card-header -->
    <div class="card-body bd bd-t-0 tab-content">
        <div id="WorkPackage" class="tab-pane active show">
            <div class="container">
                <div class="row" style="width:100%">
                    <div class="col-md-5">
                        <partial name="~/Areas/Configuration/Views/PartialViews/FormInput/_WorkPackageInput.cshtml" />
                    </div>
                    <div class="col-md-7">
                        <partial name="~/Areas/Configuration/Views/PartialViews/TableList/_workPackageList.cshtml" />
                    </div>
                </div>
            </div>
        </div>
        <div id="Location" class="tab-pane">
            <div class="container">
                <div class="row" style="width:100%">
                    <div class="col-md-5">
                        <partial name="~/Areas/Configuration/Views/PartialViews/FormInput/_LocationInput.cshtml" />
                    </div>
                    <div class="col-md-7">
                        <partial name="~/Areas/Configuration/Views/PartialViews/TableList/_locationList.cshtml" />
                    </div>
                </div>
            </div>
        </div>
        <div id="Descipline" class="tab-pane">
            <div class="container">
                <div class="row" style="width:100%">
                    <div class="col-md-5">
                        <partial name="~/Areas/Configuration/Views/PartialViews/FormInput/_DesciplineInput.cshtml" />
                    </div>
                    <div class="col-md-7">
                        <partial name="~/Areas/Configuration/Views/PartialViews/TableList/_desciplineList.cshtml" />
                    </div>
                </div>
            </div>
        </div>
        <div id="WorkPackageStep" class="tab-pane">
            <div class="container">
                <div class="row" style="width:100%">
                    <div class="col-md-5">
                        <partial name="~/Areas/Configuration/Views/PartialViews/FormInput/_WorkPackageStepInput.cshtml" />
                    </div>
                    <div class="col-md-7">
                        <partial name="~/Areas/Configuration/Views/PartialViews/TableList/_workPackageStepList.cshtml" />
                    </div>
                </div>
            </div>
        </div>
        <div id="FormDocument" class="tab-pane">
            <div class="container">
                <div class="row" style="width:100%">
                    <div class="col-md-5" id="formdocument-leftContainer">
                        <partial name="~/Areas/Configuration/Views/PartialViews/FormInput/_FormDocumentInput.cshtml" />
                    </div>
                    <div class="col-md-7">
                        <partial name="~/Areas/Configuration/Views/PartialViews/TableList/_formDocumentList.cshtml" />
                    </div>
                </div>
            </div>
        </div>
        <div id="ValueUnit" class="tab-pane">
            <div class="container">
                <div class="row" style="width:100%">
                    <div class="col-md-5">
                        <partial name="~/Areas/Configuration/Views/PartialViews/FormInput/_ValueUnitInput.cshtml" />
                    </div>
                    <div class="col-md-7">
                        <partial name="~/Areas/Configuration/Views/PartialViews/TableList/_valueUnitList.cshtml" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="edit-workPackageModal" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">WorkPackage Details</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <partial name="~/Areas/Configuration/Views/PartialViews/FormEditInput/_WorkPackageEditInput.cshtml" />
            </div>
        </div>
    </div><!-- modal-dialog -->
</div><!-- modal -->

<div id="edit-locationModal" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">Location Details</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <partial name="~/Areas/Configuration/Views/PartialViews/FormEditInput/_locationEditInput.cshtml" />
            </div>
        </div>
    </div><!-- modal-dialog -->
</div><!-- modal -->

<div id="edit-desciplineModal" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">Descipline Details</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <partial name="~/Areas/Configuration/Views/PartialViews/FormEditInput/_desciplineEditInput.cshtml" />
            </div>
        </div>
    </div><!-- modal-dialog -->
</div><!-- modal -->

<div id="edit-workstepModal" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">WorkPackage Step Details</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <partial name="~/Areas/Configuration/Views/PartialViews/FormEditInput/_workPackageStepEditInput.cshtml" />
            </div>
        </div>
    </div><!-- modal-dialog -->
</div><!-- modal -->

<div id="edit-valueUnitModal" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">Value Unit Details</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <partial name="~/Areas/Configuration/Views/PartialViews/FormEditInput/_valueUnitEditInput.cshtml" />
            </div>
        </div>
    </div><!-- modal-dialog -->
</div><!-- modal -->

<div id="edit-formdocModal" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">Form Document Details</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <partial name="~/Areas/Configuration/Views/PartialViews/FormEditInput/_formDocumentEditInput.cshtml" />
            </div>
        </div>
    </div><!-- modal-dialog -->
</div><!-- modal -->

<environment names="Development">
    <script src="~/dist/js/api/enumDefinetion.js"></script>

    <script src="~/dist/js/api/globalData/workPackage.js"></script>
    <script src="~/dist/js/api/globalData/pssrlocation.js"></script>
    <script src="~/dist/js/api/globalData/descipline.js"></script>
    <script src="~/dist/js/api/globalData/workstep.js"></script>
    <script src="~/dist/js/api/globalData/formdocument.js"></script>
    <script src="~/dist/js/api/globalData/valueUnit.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/dist/enumDefinetion.js"></script>
    
    <script src="~/js/workPackage.min.js"></script>
    <script src="~/js/pssrlocation.min.js"></script>
    <script src="~/js/descipline.min.js"></script>
    <script src="~/js/workstep.min.js"></script>
    <script src="~/js/valueUnit.min.js"></script>
</environment>

<script src="~/dist/js/myTreeviewScript.js"></script>
<script>
    $(document).ready(function () {
        $('#formdicDescipline').select2({
            width: '100%'
        });
        var hash = window.location.hash;
        $('div.nav a[href="' + hash + '"]').tab('show');

        $('.nav-tabs a').click(function (e) {
            $(this).tab('show');
            var scrollmem = $('body').scrollTop() || $('html').scrollTop();
            window.location.hash = this.hash;
            $('html,body').scrollTop(scrollmem);
            var hash = $(this).attr('href');
            var ghash = hash.substring(1);
            initonServerData(ghash);
        });

        var isworkPackageinited = false;
        var isLocationInited = false;
        var isDesciplineInited = false;
        var isWorkpackagestepInited = false;
        var isValueUnitInited = false;
        var isFormDocumentInited = false;

        if (hash.length > 0) {
            $('.active').removeClass('active');
            var ghash = hash.substring(1);
            var a = $('a[href$=' + ghash + ']');
            a.addClass('active');
            $("" + hash + "").addClass('active');
            initonServerData(ghash);
        }
        else {
            workPackage.init();
            workPackage.getWorkPackageList();
        }

        function initonServerData(ghash) {
            switch (ghash) {
                case 'WorkPackage':
                    if (!isworkPackageinited) {
                        workPackage.init();
                        workPackage.getWorkPackageList();
                        isworkPackageinited = true;
                    }
                    break;
                case 'Location':
                    if (!isLocationInited) {
                        pssrlocation.init();
                        pssrlocation.getLocationList();
                        isLocationInited = true;
                    }
                    break;
                case 'Descipline':
                    if (!isDesciplineInited) {
                        descipline.init();
                        descipline.getDesciplineList();
                        isDesciplineInited = true;
                    }
                    break;
                case 'WorkPackageStep':
                    if (!isWorkpackagestepInited) {
                        workstep.init();
                        workstep.getWorkstepList();
                        isWorkpackagestepInited = true;
                    }
                    setWorkPackageDropDown();
                    break;
                case 'FormDocument':
                    if (!isFormDocumentInited) {
                        var hh = window.innerHeight * 0.75;
                        $('#formdocument-leftContainer').css('height', hh + "px");
                        const ps = new PerfectScrollbar('#formdocument-leftContainer');
                        formdocument.init(enumDefinetion);
                        formdocument.getFormDictionaryList();
                        isFormDocumentInited = true;
                    }
                        setWorkPackageFormDicDropDown();
                        setFormDicDesciplineDropDown();
                    break;
                case 'ValueUnit':
                    if (!isValueUnitInited) {
                        valueUnit.init(myTreeview);
                        valueUnit.getValueUnitList();

                        isValueUnitInited = true;
                    }
                    break;
            }
        }
        
        //workPackage
        $('#workPackageLst').on('click', '.edit-workPackage', function () {
            var id = $(this).attr('data-id');
            var tr = $(this).closest("tr");
            var rowindex = tr.index();
            workPackage.setCurrentIndex(rowindex);
            getWorkPackage(id);
        });

        $('#workPackageLst').on('click', '.delete-workPackage', function () {
            var id = $(this).attr('data-id');
            var tr = $(this).closest("tr");
            var rowindex = tr.index();
            workPackage.setCurrentIndex(rowindex);
            workPackage.removeWorkPackage(id);
        });

        $('#workPackageLst tbody').on('dblclick', 'tr', function () {
            var tr = $(this).closest('tr');
            var id = tr.find('.edit-workPackage').attr('data-id');
            var rowindex = tr.index();
            workPackage.setCurrentIndex(rowindex);
            getWorkPackage(id);
            $('#edit-workPackageModal').modal('toggle');
        });

        async function getWorkPackage(id) {
            var data = await workPackage.getWorkPackage(id);
            $('#editname').val(data.title);
            $('#current-workPackageId').val(data.id);
        }


        //location
        $('#locationLst').on('click', '.edit-location', function () {
            var id = $(this).attr('data-id');
            var tr = $(this).closest("tr");
            var rowindex = tr.index();
            pssrlocation.setCurrentIndex(rowindex);
            getLocation(id);
        });

        $('#locationLst').on('click', '.delete-location', function () {
            var id = $(this).attr('data-id');
            var tr = $(this).closest("tr");
            var rowindex = tr.index();
            pssrlocation.setCurrentIndex(rowindex);
            pssrlocation.removeLocation(id);
        });

        $('#locationLst tbody').on('dblclick', 'tr', function () {
            var tr = $(this).closest('tr');
            var id = tr.find('.edit-location').attr('data-id');
            var rowindex = tr.index();
            pssrlocation.setCurrentIndex(rowindex);
            getLocation(id);
            $('#edit-locationModal').modal('toggle');
        });

        async function getLocation(id) {
            var data = await pssrlocation.getLocation(id);
            $('#editlocationname').val(data.title);
            $('#current-locationId').val(data.id);
        }

        //Descipline
        $('#desciplineLst').on('click', '.edit-descipline', function () {
            var id = $(this).attr('data-id');
            var tr = $(this).closest("tr");
            var rowindex = tr.index();
            descipline.setCurrentIndex(rowindex);
            getDescipline(id);
        });

        $('#desciplineLst').on('click', '.delete-descipline', function () {
            var id = $(this).attr('data-id');
            var tr = $(this).closest("tr");
            var rowindex = tr.index();
            descipline.setCurrentIndex(rowindex);
            descipline.removeDescipline(id);
        });

        $('#desciplineLst tbody').on('dblclick', 'tr', function () {
            var tr = $(this).closest('tr');
            var id = tr.find('.edit-descipline').attr('data-id');
            var rowindex = tr.index();
            descipline.setCurrentIndex(rowindex);
            getDescipline(id);
            $('#edit-desciplineModal').modal('toggle');
        });

        async function getDescipline(id) {
            var data = await descipline.getDescipline(id);
            $('#editdesciplinename').val(data.title);
            $('#editdesciplineDescription').val(data.description);
            $('#current-desciplineId').val(data.id);
        }

        //WorkPackage Step
        $('#workstepLst').on('click', '.edit-workstep', function () {
            var id = $(this).attr('data-id');
            var tr = $(this).closest("tr");
            var rowindex = tr.index();
            workstep.setCurrentIndex(rowindex);
            getWorkstep(id);
        });

        $('#workstepLst').on('click', '.delete-workstep', function () {
            var id = $(this).attr('data-id');
            var tr = $(this).closest("tr");
            var rowindex = tr.index();
            workstep.setCurrentIndex(rowindex);
            workstep.removeWorkstep(id);
        });

        $('#workstepLst tbody').on('dblclick', 'tr', function () {
            var tr = $(this).closest('tr');
            var id = tr.find('.edit-workstep').attr('data-id');
            var rowindex = tr.index();
            workstep.setCurrentIndex(rowindex);
            getWorkstep(id);
            $('#edit-workstepModal').modal('toggle');
        });

        async function getWorkstep(id) {
            var data = await workstep.getWorkstep(id);
            $('#editworkstepname').val(data.title);
            $('#editworkstepDescription').val(data.description);
            $("#editworkpackageId option[value=" + data.workPackageId + "]").attr('selected', 'selected');
            $('#current-workstepId').val(data.id);
        }

        async function setWorkPackageDropDown() {
            var data = await workPackage.getAllWorkPackages();
            var select = $('#workpackageId');
            var editSelect = $('#editworkpackageId');
            select.empty();
            editSelect.empty();
            $.each(data, function (i, val) {
                select.append("<option value=" + val.id + ">" + val.title + "</option>");
                editSelect.append("<option value=" + val.id + ">" + val.title + "</option>");
            });
        }

        //value unit
        $('#value-unit-treeItems').on('click', '.valueUNitNode', function () {
            var id = $(this).attr('data-id').split('-')[1];
            var name = $(this).attr('data-name');
            $('#current-valueUnitparent-id').val(id);
            $('#selected-parent').text('Selected Parent: ' + name);
            $('#delete-valueUnit').attr('disabled', false);
        });

        $('#refresh-valueUnit').on('click', function () {
            $('#current-valueUnitparent-id').val(null);
            $('#selected-parent').text(null);
            valueUnit.getValueUnitList();
            $('#delete-valueUnit').attr('disabled', true);
        });

        $('#delete-valueUnit').on('click', function () {
            var id = $('#current-valueUnitparent-id').val();
            if (parseInt(id) > 0) {
                valueUnit.removeValueUnit(id);
                $('#current-valueUnitparent-id').val(null);
                $('#selected-parent').text(null);
            }
        });

        //form dictionary
        $('#formDictionaryLst').on('click', '.edit-formDictionary', function () {
            var id = $(this).attr('data-id');
            var tr = $(this).closest("tr");
            var rowindex = tr.index();
            formdocument.setCurrentIndex(rowindex);
            getformdocument(id);
        });

        $('#formDictionaryLst').on('click', '.delete-formDictionary', function () {
            var id = $(this).attr('data-id');
            var tr = $(this).closest("tr");
            var rowindex = tr.index();
            formdocument.setCurrentIndex(rowindex);
            formdocument.removeFormDictionary(id);
        });

        $('#formDictionaryLst tbody').on('dblclick', 'tr', function () {
            var tr = $(this).closest('tr');
            var id = tr.find('.edit-formDictionary').attr('data-id');
            var rowindex = tr.index();
            formdocument.setCurrentIndex(rowindex);
            getFormDictionary(id);
            $('#edit-formdocModal').modal('toggle');
        });

        async function getformdocument(id) {
            var data = await formdocument.getFormDictionary(id);
         
        }

        async function setWorkPackageFormDicDropDown() {
            var data = await workPackage.getAllWorkPackages();
            var select = $('#formdicWorkpackageId');
            var editSelect = $('#editformdicWorkpackageId');
            select.empty();
            editSelect.empty();
            $.each(data, function (i, val) {
                select.append("<option value=" + val.id + ">" + val.title + "</option>");
                editSelect.append("<option value=" + val.id + ">" + val.title + "</option>");
            });
        }

        async function setFormDicDesciplineDropDown() {
            var data = await descipline.getAllDescipliens();
            var select = $('#formdicDescipline');
            var editSelect = $('#editformdicDescipline');
            select.empty();
            editSelect.empty();
            $.each(data, function (i, val) {
                select.append("<option value=" + val.id + ">" + val.title + "</option>");
                editSelect.append("<option value=" + val.id + ">" + val.title + "</option>");
            });
        }
    });

</script>