@{
    Layout = "_SecureLayout";
    ViewData["Title"] = "Privacy Policy";
}
<section class="content">
    <div class="error-page">
        <h2 class="headline text-yellow"> 403</h2>

        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> OPPSSS!!!! Sorry...</h3>

            <p>Sorry, your access is refused due to security reasons of our server and also our sensitive data.<br />
            Please go back to the previous page to continue browsing.</p>
         
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>
