@model Int64
@{
    ViewData["Title"] = "EditPunch";
    Layout = "~/Views/Shared/_SecureLayout.cshtml";
}

<div class="row">
    <div class="col-md-4" style="padding-right:0px">
        <partial name="/Views/Shared/PartialViews/Punches/PunchSummaryList.cshtml" model="1" />
    </div>
    <div class="col-md-8">
        <div class="box">
            <div class="box-header  with-border">
                <h3 style="padding-left:27px" class="box-title text-blue" id="selected-punch-c"></h3>
                <div class="box-tools">
                    <div class="input-group input-group-sm pull-right">
                        <a href="@Url.Action("PunchList","ActivityPunch")"><p style="margin:2px" class="btn btn-warning">Back To List</p></a>
                        <a href="#" id="ac-doc-show"><p style="margin:2px" class="btn btn-success">Upload Document</p></a>
                    </div>
                </div>
            </div>
            <div class="box-body style-10" id="tb-container" style="overflow-y:scroll">
                <div class="col-md-9">
                    <div class="col-md-12">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <input type="hidden" id="pu-st-id" name="Id" />
                                <input type="hidden" id="ac-st-id" name="acId" />
                                <div class="col-md-3">
                                    <label>Task Code</label>
                                    <h4 class="text text-blue" id="cr-co-ac"></h4>
                                </div>
                                <div class="col-md-4">
                                    <label>Task Progress</label>
                                    <div class="form-group">
                                        <div class="progress-group">
                                            <span class="progress-text" id="ac-st-prtx"></span>
                                            <span class="progress-number"><b></b></span>
                                            <div class="progress sm">
                                                <div class='progress-bar' id="ac-st-prPr"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Task Condition</label>
                                        <h4 class="text text-yellow" id="cr-st-co"></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="col-md-12" style="font-size:12px">
                                    <div>
                                        <partial name="~/Views/Shared/PartialViews/Punches/EditablePunchDetails.cshtml" />
                                    </div>
                                    <div id="editable-punch">
                                        <button type="button" class="btn btn-primary pull-right" id="edit-punch" style="display:none">Save Edit</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="box box-warning">
                            <div class="nav-tabs-custom" style="margin-top:5px">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab_1" data-toggle="tab">Documents</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1">
                                        <partial name="~/Views/Shared/PartialViews/Punches/PunchDocumentList.cshtml" />
                                    </div>
                                </div>
                                <!-- /.tab-content -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="background-color:#ebe7e7">
                    <div>
                        <partial name="~/Views/Shared/PartialViews/Punches/PunchGoModify.cshtml" />
                    </div>
                    <div id="editable-go-punch">
                        <button type="button" class="btn btn-warning pull-right" id="save-go-punch">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-Ac-Document">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Upload Documents</h4>
            </div>
            <form asp-action="CreateMainDocumentFile" enctype="multipart/form-data">
                <input type="hidden" id="ac-document-id" name="PunchId" />
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="file-field input-field">
                            <div class="btn btn-default">
                                <label class="required">File</label>
                                <input class="form-control" type="file" name="file" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Description</label>
                            <input name="Description" type="text" class="form-control" placeholder="Enter ..." required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<environment names="Development">
    <script src="~/dist/js/api/activities/punchListSummary.js"></script>
    <script src="~/dist/js/api/activities/activityPunch.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/js/punchListSummary.min.js"></script>
    <script src="~/js/activityPunch.min.js"></script>
</environment>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded",
    function (event) {
        BookList.initialise('1', '1',
            '@Url.Action("GetFilterSearchContent")');
        });

    $(document).ready(function () {

         var wh = window.innerHeight * 0.80;
         var lwh = window.innerHeight * 0.62;

        $('#tb-container').css('height', wh + 'px');
        $('#pusummary-lst').css('height', lwh + 'px');

        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        });

        $('.datepicker').datepicker({
            autoclose: true
        });

        var cacId = '@Model';
        punchListSummary.getPunchSummary();
        activityPunch.getallPunches();
        activityPunch.getpunchDetails(cacId);
        activityPunch.showGoPunchModal(cacId);
        activityPunch.getPunchDocuments(cacId);

        $('#OrderByOptions').change(function () {
            punchListSummary.getPunchSummary();
        });

        $('#filter-value-dropdown').change(function () {
            punchListSummary.getPunchSummary();
        });

        $('#pg-size-dropdown').on('change', function () {
            punchListSummary.getPunchSummary();
        });

        $('#pg-num').on('change', function () {
            punchListSummary.getPunchSummary();
        });

        $('#search-activity').on('click', function () {
            punchListSummary.getPunchSummary();
        });

        $('#tb-punchSummary').on('click', 'p.edtit-summary-btn', function () {
            var oldid = $('#pu-st-id').val();
            var id = $(this).attr('id').split('-')[2];
            activityPunch.getpunchDetails(id);
            activityPunch.showGoPunchModal(id);
            activityPunch.getPunchDocuments(id);
            var newUrl = location.href.replace("id=" + oldid, "id=" + id);
            window.history.pushState({ "html": "", "pageTitle": "" }, "", newUrl);
        });

        $('#edit-punch').on('click', function () {
            var id = $('#pu-st-id').val();
            activityPunch.editPunch(id, -1);
        });

        $('#save-go-punch').on('click', function () {
            var id = $('#pu-st-id').val();
            activityPunch.editPUnchGo(id, 0, null);
        });

        $('#ac-doc-show').on('click', function () {
            var id = $('#pu-st-id').val();
            $('#ac-document-id').val(id);
            $('#modal-Ac-Document').modal('show');
        });

        $('#punchDocTable').on('click', '.activity-doc-class', function () {
            var docId = $(this).attr('data-docId');
            window.location = '/ProjectManagment/Activity/DownloadDocumentFile?documentId=' + docId;
        });

    });
</script>

