
<div class="box-body">
    <table id="mdrCommentTable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Is Clear</th>
                <th>Date</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="mdr-CommentTb"></tbody>
    </table>
</div>
