<div class="box box-danger">
    <div class="box-body pad">
        <div class="form-group">
            <label class="control-label required">Title</label>
            <input class="form-control" id="mdrcomment-title" required />
        </div>

        <div class="form-group">
            <textarea id="compose-textarea" class="form-control" style="height: 200px" name="description">
            <h1><u>Comment Title</u></h1>
            <h4>SubTitle</h4>
            <p>Description</p>
              </textarea>
        </div>

        <div class="form-group" id="form-commentupload">
            <label for="exampleInputFile" class="control-label">File input</label>
            <input type="file" name="File" id="file-comment">
            <p class="help-block">Upload Form Dictionary's Comment Document.</p>
        </div>
    </div>
</div>
