<div class="box box-danger">
    <div>
        <div class="form-group">
            <div class="col-sm-4">
                <label class="control-label">Sort By</label>
                <select name="OrderByOptions" id="OrderByOptions"
                         asp-items="Html.GetEnumSelectList<PSSR.ServiceLayer.MDRDocumentServices.QueryObjects.OrderByOptions>()"
                        class="form-control sort-filter-width"></select>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Filter Type</label>
                <select name="FilterBy" id="FilterBy"
                        asp-items="Html.GetEnumSelectList<PSSR.ServiceLayer.MDRDocumentServices.QueryObjects.MDRDocumentFilterBy>()"
                        class="form-control sort-filter-width" onchange="BookList.filterByHasChanged(this)"></select>
            </div>
            <div class="col-sm-4 dim-filter-value" id="filter-value-group">
                <label class="control-label">Filter By</label>
                <select name="FilterValue"
                        id="filter-value-dropdown"
                        class="form-control sort-filter-width"
                        disabled>
                    <option>Select filter type...</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-header with-border">
                        <h3 class="box-title">MDR list</h3>
                        <div class="box-tools">
                            <div class="input-group input-group-sm pull-right" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-body table-responsive no-padding style-10"  id="acsummary-container" style="overflow-y:auto">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Work Package</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody id="tb-mdrSummary"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
