
<div class="box-body">
    <table id="mdrStatusTable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Status</th>
                <th>Is IFR</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="mdr-statusTb"></tbody>
    </table>
</div>