@model int
<div class="box box-warning">
  <div>
      <div class="form-group">
          <div class="col-sm-4">
              <label class="control-label">Sort By</label>
              <select name="OrderByOptions" id="OrderByOptions"
                      asp-items="Html.GetEnumSelectList<PSSR.ServiceLayer.ActivityServices.QueryObjects.OrderByOptions>()"
                      class="form-control sort-filter-width"></select>
          </div>
          <div class="col-sm-4">
              <label class="control-label">Filter Type</label>
              <select name="FilterBy" id="FilterBy"
                      asp-items="Html.GetEnumSelectList<PSSR.ServiceLayer.ActivityServices.QueryObjects.ActivityFilterBy>()"
                      class="form-control sort-filter-width" onchange="BookList.filterByHasChanged(this)"></select>
          </div>
          <div class="col-sm-4 dim-filter-value" id="filter-value-group">
              <label class="control-label">Filter By</label>
              <select name="FilterValue"
                      id="filter-value-dropdown"
                      class="form-control sort-filter-width"
                      disabled>
                  <option>Select filter type...</option>
              </select>
          </div>
      </div>
  </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>
                        <div class="box-tools">
                            <input id="prevCheckState" name="prevCheckState" type="hidden">
                            <div class="col-md-3">
                                <input type="number" id="pg-num" name="PageNum"
                                       class="form-control page-control-width page-num-input">
                                <span id="current-page" class="num-pages-text">of</span>
                            </div>
                            <div class="col-md-3">
                                <select id="pg-size-dropdown" name="PageSize" class="form-control form-control page-control-width"></select>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group input-group-sm">
                                    <input type="text" id="queryFilter" name="table_search" class="form-control pull-right" placeholder="Search">
                                    <div class="input-group-btn">
                                        <button id="search-activity" class="btn btn-default"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @if (Model == 1)
                {
                    <div class="box-body table-responsive no-padding style-10" id="acsummary-lst" style="overflow-y:auto">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Tag Number</th>
                                    <th>Status</th>
                                    <th>Wf (%)</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody id="tb-acSummary"></tbody>
                        </table>
                    </div>
                }
                else if (Model == 2)
                {
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Activity Code</th>
                                    <th>Tag Number</th>
                                    <th>Status</th>
                                    <th>Plane StartDate</th>
                                    <th>Plane EndDate</th>
                                </tr>
                            </thead>

                            <tbody id="tb-acSummary"></tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>