<div class="col-md-4">
    <div class="form-group">
        <label class="text-info">Work Package</label>
        <h5 class="text text-warning" id="wo-st"></h5>
    </div>
    <div class="form-group">
         <label class="text-info">Work Package Step</label>
        <h5 class="text text-warning" id="wo-st-step"></h5>
    </div>
    <div class="form-group">
         <label class="text-info">Location</label>
        <h5 class="text text-warning" id="lo-st"></h5>
    </div>
    <div class="form-group">
         <label class="text-info">System</label>
        <h5 class="text text-warning" id="sy-st"></h5>
    </div>
    <div class="form-group">
         <label class="text-info">SubSystem</label>
        <h5 class="text text-warning" id="sb-st"></h5>
    </div>
</div>
<div class="col-md-4">

    <div class="form-group">
         <label class="text-info">Descipline</label>
        <h5 class="text text-warning" id="ds-st"></h5>
    </div>
    <div class="form-group">
         <label class="text-info">Form Code</label>
        <h5 class="text text-warning" id="fr-co"></h5>
    </div>
    <div class="form-group">
         <label class="text-info">Form Type</label>
        <h5 class="text text-warning" id="fr-ty"></h5>
    </div>
    <div class="form-group">
         <label class="text-info">Form Description</label>
        <h5 class="text text-warning" id="fr-dsc"></h5>
    </div>
</div>
<div class="col-md-4" style="background-color:#ebe7e7" id="edit-ac-st">
    <input type="hidden" id="ac-st-id" name="Id" />
    <input type="hidden" id="ac-st-progress" name="Progress" />

    <div class="form-group">
        <label class="control-label">Status</label>
        <select name="HStatus" id="ac-status"
                asp-items="Html.GetEnumSelectList<PSSR.Common.ActivityStatus>()"
                class="form-control sort-filter-width"></select>
    </div>

    <div class="form-group" id="conditionby-section">
        <label class="control-label">Condition</label>
        <select name="condition" id="ac-conditon"
                asp-items="Html.GetEnumSelectList<PSSR.Common.ActivityCondition>()"
                class="form-control sort-filter-width"></select>
    </div>

    <div class="form-group" id="holdBy-section">
        <label class="control-label">Hold By</label>
        <select name="HoldBy" id="ac-holdBy"
                asp-items="Html.GetEnumSelectList<PSSR.Common.ActivityHolBy>()"
                class="form-control sort-filter-width"></select>
    </div>

    <div class="box-footer" style="background-color:#ebe7e7">
        <button type="submit" id="ac-st-save" class="btn btn-info pull-right">Save</button>
    </div>
</div>