
<div class="box-body">
    <table id="activityDocTable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="width:40px"></th>
                <th style="width:130px">Create Date</th>
                <th style="width:150px">Description</th>
                <th>Punch</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="document-activity"></tbody>
    </table>
</div>