<div class="card card-body">
    <div style="border-bottom:1px solid #eeeeee">
      <div class="container">
          <div class="row" style="width:100%">
              <div class="col-md-10">
                  <h6 id="selected-parent"></h6>
                  <input type="hidden" id="current-valueUnitparent-id" />
              </div>
              <div class="col-md-2">
                  <div class="btn-icon-list">
                      <button class="btn btn-success btn-icon" id="refresh-valueUnit"><i class="typcn typcn-refresh"></i></button>
                      <button class="btn btn-danger btn-icon" id="delete-valueUnit" disabled><i class="typcn typcn-delete"></i></button>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div id="value-unit-treeItems"></div>
</div><!-- card -->