<div class="card card-body">
    <div class="az-content-breadcrumb lst-datatablecontainer" style="display:inline-block;">
        <table id="workstepLst" class="display responsive nowrap">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="workstep-content"></tbody>
        </table>
    </div>
</div><!-- card -->