@model PSSR.ServiceLayer.PunchTypeServices.PunchTypeListCombinedDto
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "System PreRequest";
}

    <div class="card bd-1">
        <div class="card-header bg-gray-400 bd-b-0-f pd-b-0">
            <nav class="nav nav-tabs">
                <a class="nav-link active" data-toggle="tab" href="#WorkPackage">WorkPackage</a>
                <a class="nav-link" data-toggle="tab" href="#Location">Location</a>
                <a class="nav-link" data-toggle="tab" href="#Descipline">Descipline</a>
                <a class="nav-link" data-toggle="tab" href="#WorkPackageStep">WorkPackage Step</a>
                <a class="nav-link" data-toggle="tab" href="#FormDocument">Form Document</a>
                <a class="nav-link" data-toggle="tab" href="#ValueUnit">Value Unit</a>
            </nav>
        </div><!-- card-header -->
        <div class="card-body bd bd-t-0 tab-content">
            <div id="WorkPackage" class="tab-pane active show">

            </div>
            <div id="Location" class="tab-pane">

            </div>
            <div id="Descipline" class="tab-pane">

            </div>
            <div id="WorkPackageStep" class="tab-pane">

            </div>
            <div id="FormDocument" class="tab-pane">

            </div>
            <div id="ValueUnit" class="tab-pane">

            </div>
        </div>
  </div>
