<div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">WorkPackage</label>
            <select id="workPackage-type" class="form-control sort-filter-width"></select>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Location</label>
            <select id="location-type" class="form-control sort-filter-width"></select>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">System</label>
            <select id="system-type" class="form-control sort-filter-width"></select>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">SubSystem</label>
            <select id="subSystem-type" class="form-control sort-filter-width select2"></select>
        </div>
    </div>
</div>