<ul class="dropdown-menu" role="menu">
    <li>Group By</li>
    <li class="divider"></li>
    <li>
        <label>
            @Html.CheckBox("WorkPackageGroup", false, new { @class = "flat-red filterTypesch", @id = "gr-1000" })
            By WorkPackage
        </label>
    </li>
    <li>
        <label>
            <input type="checkbox" name="gender" class="flat-red filterTypesch" id="gr-1001">
            By Location
        </label>
    </li>
    <li>
        <label>
            <input type="checkbox" name="gender" class="flat-red filterTypesch" id="gr-1003">
            By System
        </label>
    </li>
    <li>
        <label>
            <input type="checkbox" name="gender" class="flat-red filterTypesch" id="gr-1004">
            By SubSystem
        </label>
    </li>
    <li>
        <label>
            <input type="checkbox" name="gender" class="flat-red filterTypesch" id="gr-1002">
            By Descipline
        </label>
    </li>
    <li class="divider"></li>
    <li class="text-right">
        <button id="grant-filter" class="btn btn-danger"><i class="fa fa-filter"></i></button>
    </li>
</ul>