@model PSSR.ServiceLayer.MDRDocumentServices.MDRDocumentListDto
@{
    Layout = "_SecureLayout";
    ViewData["Title"] = "Create MDR";

    var ProjectWBSs = new SelectList(ViewBag.ProjectWBSs, "Id", "Title");
}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Create MDR</h3>
                </div>
                <div class="box-body">
                    <partial name="_ValidationSummary" />
                    <form role="form" asp-action="CreateMDRDocument" enctype="multipart/form-data">
                        <input type="hidden" asp-for="Id" />
                        <!-- text input -->
                        <div class="col-md-10">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label required">Work Package</label>
                                            <select asp-items="ProjectWBSs" asp-for="WorkPackageId" class="form-control select2"
                                                    data-placeholder="Select work package"
                                                    style="width: 100%;"></select>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label required">Title</label>
                                            <input asp-for="Title" min="1" class="form-control" placeholder="Enter ..." required>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label required">Code</label>
                                            <input asp-for="Code" min="1" class="form-control" placeholder="Enter ..." required>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label required">Type</label>
                                            <select asp-for="Type"
                                                    asp-items="Html.GetEnumSelectList<PSSR.Common.MDRDocumentType>()"
                                                    class="form-control sort-filter-width" required></select>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label>Description</label>
                                                <textarea rows="8" type="text" asp-for="Description" class="form-control" placeholder="Enter ...">
 
                                             </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group col-md-4">
                                        <label for="exampleInputFile" class="control-label">Choose Native Files</label>
                                        <input type="file" name="NativeFiles" multiple>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="exampleInputFile" class="control-label ">Choose PDF Files</label>
                                        <input type="file" name="PDFFiles" multiple>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="exampleInputFile" class="control-label">Choose Attachment Files</label>
                                        <input type="file" name="AttachMentFiles" multiple>
                                    </div>

                                    <div class="box-footer">
                                        <a href="@Url.Action("MDRDocument", "MDRDocument")" style="margin:5px"><p class="btn btn-warning">Back To List</p></a>
                                        <button type="submit" class="btn btn-info pull-left">Save</button>
                                    </div>
                                </div>
                            </div>

                            

                        </div>
                        <div class="col-md-7">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
