@model Int64
@{
    Layout = "_SecureLayout";
    ViewData["Title"] = "MDR Details";
}

<div class="row">
    <div class="col-md-4" style="padding-right:0px">
        <partial name="~/Views/Shared/PartialViews/MDRDocuments/MDRSummaryList.cshtml" />
    </div>
    <div class="col-md-8">
        <partial name="_ValidationSummary" />
        <div class="box box-warning">
            <div class="box-header with-border" style="min-height:50px">
                <h3 class="box-title">MDR Code: <strong class="text-green" id="current-mdr-code"></strong></h3>
                <div class="box-tools">
                    <div class="input-group input-group-sm pull-right">
                        <a style="margin:2px" href="@Url.Action("MDRDocument","MDRDocument")"><p class="btn btn-warning">Back To List</p></a>
                        <p style="margin:2px" id="doc-issuance" class="btn btn-success">Document Issuance</p>
                        <p class="btn btn-danger" id="doc-comment" data-toggle="modal" data-target="#modal-default-addComment">Add Comment</p>

                    </div>
                </div>
            </div>
            <div class="box-body style-10" id="tb-container" style="overflow-y:auto;overflow-x:hidden">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <input type="hidden" id="current-mdr-id" />
                        <input type="hidden" id="current-mdr-completed" />
                        <input type="hidden" id="current-mdr-status" />

                        <div class="form-group inline col-md-4">
                            <label class="text-info control-label">Title:</label>
                            <p id="current-mdr-title"></p>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="text-info">Last Status:</label>
                            <p id="mdr-status"></p>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="text-info">Create Date:</label>
                            <p id="current-mdr-createDate"></p>
                        </div>
                    </div>

                    <div class="col-md-12">

                        <div class="form-group col-md-4">
                            <label class="text-info">Last Issuance Date:</label>
                            <p id="current-mdr-issuance"></p>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="text-info">Progress:</label>
                            <p id="current-mdr-progress"></p>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="text-info">Class:</label>
                            <p id="current-mdr-class"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="nav-tabs-custom" style="margin-top:5px">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_1" data-toggle="tab">Issuance History</a></li>
                                <li><a href="#tab_2" data-toggle="tab" id="punch-tab2">Comments</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">
                                    <partial name="~/Views/Shared/PartialViews/MDRDocuments/MDRStatusHistoryList.cshtml" />
                                </div>
                                <div class="tab-pane" id="tab_2">
                                    <partial name="~/Views/Shared/PartialViews/MDRDocuments/MDRCommentList.cshtml" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*<div class="col-md-6">
                        <div class="box box-warning">
                            <ul class="timeline"></ul>
                        </div>
                    </div>*@

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-default-docIssuance">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Document Issuance</h4>
            </div>
            <form asp-action="MDRDocumentDetails" enctype="multipart/form-data">
                <div>
                    <div>
                        <div class="col-md-12">
                            <partial name="~/Views/Shared/PartialViews/MDRDocuments/MDRDocumentIssuance.cshtml" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success" id="save-mdr-docIssuance">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-default-addComment">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Comment</h4>
            </div>
            <div>
                <div>
                    <div class="col-md-12">
                        <partial name="~/Views/Shared/PartialViews/MDRDocuments/MDRDocumentCommentDetails.cshtml" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button type="button" class="btn btn-danger" id="save-mdr-comment">Save</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-default-editComment">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Edit Comment</h4>
            </div>
            <div>
                <div>
                    <div class="col-md-12">
                        <div class="box box-danger">
                            <div class="box-body pad">
                                <input type="hidden" id="edit-commentId" />
                                <div class="form-group">
                                    <label class="control-label required">Title</label>
                                    <input class="form-control" id="mdrcomment-title-edit" required />
                                </div>

                                <div class="form-group">
                                    <textarea id="compose-textarea-edit" class="form-control" style="height: 200px" name="description">
                                    <h1><u>Comment Title</u></h1>
                                    <h4>SubTitle</h4>
                                    <p>Description</p>
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button type="button" class="btn btn-danger" id="edit-mdr-comment">Save</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<environment names="Development">
    <script type="text/javascript" src="~/dist/js/api/mdrDocumentDetails.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/js/mdrDocumentDetails.min.js"></script>
</environment>

<script>
     document.addEventListener("DOMContentLoaded",
    function (event) {
        BookList.initialise('1', '1',
            '@Url.Action("GetFilterSearchContent")');
        });

    $(document).ready(function () {
         var wh = window.innerHeight * 0.815;
        var lwh = window.innerHeight * 0.65;
         $('#tb-container').css('height', wh + 'px');
        $('#acsummary-container').css('height', lwh + 'px');

        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        });

        $("#compose-textarea").wysihtml5();
        $("#compose-textarea-edit").wysihtml5();
        var gId = '@Model';

        mdrDocumentDetails.init();
        mdrDocumentDetails.getMdrDocumentSummary();
        mdrDocumentDetails.getMDRDetails(gId);

        $('#tb-mdrSummary').on('click', 'p.edtit-summary-btn', function () {
            var id = $(this).attr('id').split('-')[2];
            mdrDocumentDetails.getMDRDetails(id);
        });

        $('#OrderByOptions').change(function () {
            mdrDocumentDetails.getMdrDocumentSummary();
        });

        $('#filter-value-dropdown').change(function () {
            mdrDocumentDetails.getMdrDocumentSummary();
        });

        $('#save-mdr-comment').on('click', function () {
            var comment = $('#compose-textarea').val();
            var id = $('#current-mdr-id').val();
            var title = $('#mdrcomment-title').val();

            mdrDocumentDetails.saveMDRComments(id, comment, title);
        });


        $('#mdr-statusTb').on('click', 'p.mdr-status-details', function ()
        {
            var code = $('#current-mdr-code').html();
            var folderName = $(this).attr('data-path');
            window.location = '/ProjectManagment/MDRDocument/DownloadMdrZip?mdrCode=' + code + "&folderPath="+folderName;
        });

        $('#mdr-CommentTb').on('click', 'p.mdr-comment-file', function ()
        {
            var commId = $(this).attr('data-comId');
            window.location = '/ProjectManagment/MDRDocument/DownloadMdrCommentFile?commentId=' + commId;
        });

        $('#mdr-CommentTb').on('click', 'p.mdr-comment-details', function ()
        {
             var id = $(this).attr('data-comId');
             mdrDocumentDetails.getCommentDetails(id);
        });

        $('#edit-mdr-comment').on('click', function () {
            var id = $('#edit-commentId').val();
            var title = $('#mdrcomment-title-edit').val();
            var description = $('#compose-textarea-edit').val();
            var mdid = $('#current-mdr-id').val();
            mdrDocumentDetails.editMderComment(id, title, description, mdid);
        });

        $('#doc-issuance').on('click', function () {
            var mdid = $('#current-mdr-id').val();
              mdrDocumentDetails.getIssuanceDescription(mdid);
        })

        //$('#save-mdr-docIssuance').on('click', function () {
        //    var mdid = $('#current-mdr-id').val();
        //    var statusId = $('#next-status-id').val();
        //    var description = $('#issuance-description').val();
        //    var type = $('#current-mdr-class').html();
        //    var code = $('#current-mdr-code').html();
        //    var isConfirm=$('#contractor-confirm-1006').iCheck('update')[0].checked;
        //    mdrDocumentDetails.saveMDRIssuance(mdid, description, statusId,isConfirm, type, code);
        //});
    });
</script>