
@{
    ViewData["Title"] = "DailyTaskFormTypeReport";
    Layout = "~/Views/Shared/_SecureLayout.cshtml";
}

<style>
    .table thead tr th, .table thead tr td, .table tbody tr th, .table tbody thead tr td {
        padding: 2px;
    }

    .table tbody tr th {
        background-color: #d5eaea;
        border-top: 1.5px solid #030c1f;
        border-right: 1px solid #000;
    }
</style>

<div class="row">

    <div class="col-md-12">

        <div class="box box-success style-10" id="container-box" style="overflow-y:hidden;overflow-x:hidden">
            <div class="box-header">
                <div class="box-tools">
                    <div class="col-md-12" style="background-color:#fafafa">
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="">
                                    <label>WorkPackage:</label>
                                </div>
                                <div class="input-group">
                                    <select id="workPackage-type" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>From Date:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" id="start-date" class="form-control pull-right datepicker" autocomplete="off">
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label id="selected-desc">End Date:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" id="end-date" class="form-control pull-right datepicker" autocomplete="off">
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="form-group">
                                <label id="selected-desc"></label>
                                <div class="input-group">
                                    <button class="btn btn-success" id="filter-calculate"><i class="fa fa-filter"></i></button>
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body" style="padding-top:60px">

                <div id="body-content"></div>
                <div class="loading-one-wrap" id="nothing-plan" style="display:none">
                    <div class="loading-one">
                        <div class="bounceball"></div>
                        <div class="loadertext">NOW LOADING...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<environment names="Development">
    <script src="~/dist/js/api/dashbords/projectDashboard.js"></script>
    <script src="~/dist/js/api/reports/dailyTaskFormTypeReport.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/js/projectDashboard.min.js"></script>
    <script src="~/js/dailyTaskFormTypeReport.min.js"></script>
</environment>
<script type='text/javascript'>
    $(document).ready(function () {

       var d = new Date();
       d.setDate(d.getDate()-90);
         $('#start-date').datepicker({
             autoclose: true,
         }).datepicker('setDate', d);

       $('#end-date').datepicker({
            autoclose: true,
        }).datepicker('setDate', new Date());;

        var wh = window.innerHeight * 0.90;
        $('#container-box').css('height', wh + "px");
          projectDashboard.initWorkPakcageDropDown(0);

        $('#filter-calculate').on('click', function () {
           var wid= $('#workPackage-type').val();
            if (parseInt(wid) > 0) {
                dailyTaskFormTypeReport.getItems(wid);
            }
        });
    })
</script>

