@model int
@{
    ViewData["Title"] = "StatusReport";
    Layout = "~/Views/Shared/_SecureLayout.cshtml";
}

<style>
    .table thead tr th, .table thead tr td, .table tbody tr th, .table tbody thead tr td {
        padding: 2px;
    }

    .table tbody tr th {
        background-color: #d5eaea;
        border-top: 1.5px solid #030c1f;
        border-right: 1px solid #000;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="box box-success style-10" id="container-box" style="overflow-y:hidden;overflow-x:hidden">
            <div class="box-header">
                <div class="box-tools col-md-12" >
                    <div class="col-md-12" style="background-color:#fafafa">
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="">
                                    <label>WorkPackage:</label>
                                </div>
                                <div class="input-group">
                                    <select id="workPackage-type" class="form-control"></select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="form-group">
                                <label id="selected-desc"></label>
                                <div class="input-group">
                                    <button class="btn btn-success" id="filter-calculate"><i class="fa fa-filter"></i></button>
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body" style="padding-top:60px">
                <div id="body-content">
              
                </div>
                <div class="loading-one-wrap" id="nothing-plan" style="display:none">
                    <div class="loading-one">
                        <div class="bounceball"></div>
                        <div class="loadertext">NOW LOADING...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<environment names="Development">
    <script src="~/dist/js/api/dashbords/projectDashboard.js"></script>
    <script src="~/dist/js/api/reports/statusReport.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/js/projectDashboard.min.js"></script>
    <script src="~/js/statusReport.min.js"></script>
</environment>
<script type='text/javascript'>
    $(document).ready(function () {

        var wh = window.innerHeight * 0.90;
        $('#container-box').css('height', wh + "px");
        var workId = '@Model';
        initWorkPakcageDropDown(workId);

        $('#filter-calculate').on('click', function () {
            var wid = $('#workPackage-type').val();
            var wName= $('#workPackage-type option:selected').text();
            if (parseInt(wid) > 0) {
                statusReport.getItems(wid,wName);
            }
        });

        function initWorkPakcageDropDown(cworkId) {
            var content = $('#workPackage-type');
            content.empty();
            content.append("<option value=0>...Select workPackage...</option>");

            $.ajax({
                type: "Get",
                url: "/APSE/Dashboard/ProjectDashboardInitialization",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data, status, jqXHR) {
                    $.each(data.workPackages, function (i, val) {
                        if (val.id == cworkId) {
                            content.append("<option value=" + val.id + " selected>" + val.title + "</option>");
                             statusReport.getItems(val.id, val.title);
                        }
                        else {
                            content.append("<option value=" + val.id + ">" + val.title + "</option>");
                        }
                        
                    });
                    $('#workPackage-type').trigger('change');
                },
                error: function (jqXHR, status) {
                    console.log(jqXHR);
                }
            });
        }
    })
</script>

